:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  height: 100%;
}

#root {
  height: 100vh;
}

button,
input,
textarea {
  font-family: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
}
